*{
    margin: 0;
    padding: 0;
}

:root {
    --background: #222831;
    --surface: #393E46;
    --accent: #948979;
    --text: #DFD0B8;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: sans-serif;
    font-weight: normal;
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
}

main {
    padding: min(30px, 7%);
    display: flex;
    align-items: center;
    align-self: center;
}

.data-container {
    align-items: center;
    align-self: center;
}

nav {
    background-color: var(--surface);
}

 a { 
    color: inherit;
 }

ul, li, a {
    text-decoration: none;
    list-style: none;
}

footer {
    color: var(--text);
    border-top: 1px solid var(--accent);
    text-align: center;
    font-family: sans-serif;
}

#side-bar {
    box-sizing: border-box;
  /*   padding: 5px 1em; */
    height: 100vh;
    border-right: 1px solid var(--accent);
}

 li:hover {
    background-color: var(--background);
}
