@import url('https://fonts.cdnfonts.com/css/the-wild-breath-of-zelda');

*{
    margin: 0;
    padding: 0;
}

:root {
    --background: #222831;
    --surface: #393E46;
    --accent: #948979;
    --text: #DFD0B8;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'The Wild Breath of Zelda', sans-serif;
    font-weight: lighter;
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
}

main {
    padding: min(30px, 7%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-container {
    background-color: var(--surface);
    border: 3px solid var(--accent);
    border-radius: 9px;
    padding: 10px;
    width: 50%;
    white-space: nowrap;
    min-width: max-content;
    }

nav {
    background-color: var(--surface);
}

 a { 
    color: inherit;
 }

ul, li, a {
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}

footer {
    color: var(--text);
    border-top: 3px solid var(--accent);
    text-align: center;
    font-family: sans-serif;
}

#side-bar {
    box-sizing: border-box;
    padding: 5px 1em;
    height: 100vh;
    border-right: 3px solid var(--accent);
}

.title {
    margin-bottom: 30px;
}

a:hover {
    color: var(--accent);
}