body {
    background-color: black;
}

h1 {
    color: white;
    font-family: "The Wild Breath of Zelda";
    font-size: 6rem;
    font-weight: normal;
}

footer {
    color: white;
    font-family: "The Wild Breath of Zelda";
}